<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.publicwasant.common_ui">

    <application>
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
            tools:ignore="MissingClass" />
        <activity
            android:name=".activities.ProductDetailActivity"
            android:exported="false" />
    </application>

</manifest>